.pagination-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 400px;
}

.btn{
    background-color: cyan;
    border: none;
    border-radius: 10px;
    border: 1px solid cyan;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}